apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: litellm
  name: litellm
  labels:
    app: litellm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: litellm
  template:
    metadata:
      labels:
        app: litellm
    spec:
      containers:
        - name: litellm
          image: ghcr.io/berriai/litellm:main-latest
          ports:
            - containerPort: 4000
              name: http
          env:
            - name: ANTHROPIC_API_KEY
              valueFrom:
                secretKeyRef:
                  name: litellm-secret
                  key: anthropic-api-key
          volumeMounts:
            - name: config
              mountPath: /app/config.yaml
              subPath: config.yaml
          command: ["litellm"]
          args:
            - "--config"
            - "/app/config.yaml"
          resources:
            requests:
              memory: "1Gi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
      volumes:
        - name: config
          configMap:
            name: config-yaml
