apiVersion: v1
kind: Service
metadata:
  namespace: litellm
  name: litellm
spec:
  type: ClusterIP
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
  selector:
    app: litellm
